* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

button {
    position: absolute;
    background-color: transparent;
    width: 20vw;
    height: 20vw;
    border: transparent;
}

#tip {
    position: fixed;
    right: 0;
    top: 20vw;
}